<div class="container">
  <form>
    <div class="row text-center">
      <div class="col-lg-12 mt-2">
        <input type="text" class="formInput" style="width: 340px;" placeholder="First Name">
      </div>
      <div class="col-lg-12 mt-2">
        <input type="text" class="formInput" style="width: 340px;" placeholder="Last Name">
      </div>
      <div class="col-lg-12 mt-2">
        <input type="tel" class="formInput" style="width: 340px;" placeholder="Number">
      </div>
      <div class="col-lg-12 mt-2">
        <input type="text" class="formInput" style="width: 340px;" placeholder="Address">
      </div>
      <div class="col-lg-12 mt-2">
        <input type="email" class="formInput" style="width: 340px;" placeholder="Email">
      </div>
      <div class="col-lg-12 mt-2 ">
      <button type="submit" class="btn btn-md btn-dark" style="width: 200px;">Contact</button>
      </div>
    </div>
  </form><br>
</div>
