<div class="container-fluid footer">
  <div class="row">
    <!-- vgvtgvgtvjyg -->
    <div class="col-lg-6">
      <div class="a">@Shuvobroto Biswas</div>
    </div>
    <div class="col-lg-4">
      <a class="a" routerLink="home">Home</a>
      <a class="a" routerLink="menu">Menu</a>
      <a class="a" routerLink="about">About Us</a>
      <a class="a" routerLink="contract">Contact Us</a>
    </div>
    <div class="col-lg-2">
      <a class="b" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      <a class="b" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a class="b" href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a class="b" href="#" target="_blank"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>
