.banner
{
    background-image: url('../../../assets/img/banner.jpg');
    height: 800px;
    background-position: center top;
    background-size: cover;
}
.content
{
    top: 38%;
    left: 27%;
    position: absolute;
}
.content h1:hover
{
    color: greenyellow;
}
.content h1
{
    color: #fff;
    font-size: 50px;
    font-weight: bold;

}
.content a
{
    text-decoration: none;
    background-color: #fff;
    color: green;
    border-radius: 5px;
    top: 50%;
    left: 30%;
    position: absolute;
}

.content a:hover
{
    background-color: green;
    color: #fff;
}

.stepBox
{
    background-color: #000;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
}
.stepBox h1
{
    font-size: 50px;
    font-weight: bold;
    color: greenyellow;
}
.stepBox p
{
    font-size: 20px;
    font-style: italic;
    color: greenyellow;
}

.stepBox p:hover
{
    color: greenyellow;
}
.highlight
{
    color: green;
    font-weight: bold;
    font-style: italic;
    // text-decoration: underline;
}

.foodbox
{
    padding: 10px 5px;
}
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.rating
{
 color: purple;
 text-align: right;
}


.borderstyle
{
  border: 6px double red;
  border-bottom-style: solid;
  border-left-style: solid;
  // border: 10px solid transparent;
  // padding: 1px;
  // border-image: url(../../../assets/img/border.png) 100 stretch;
}

.myeffect {
  width: 100px;
  height: 100px;
  background-image: url('https://m.economictimes.com/thumb/msid-89885004,width-1200,height-900,resizemode-4,imgsize-137412/healthy-food_think.jpg') ;
  transition: width 8s, height 5s;
}

.myeffect:hover {
  width: 1300px;
  height: 800px;
}

.borderstyle {
  transition: transform .2s;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.borderstyle:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

